{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}


{% block title %}User{% endblock %}
{% block content %}
<div class="card" id="err">
    <h5 class="card-header text-center">404 Not found</h5>
    <div class="card-body text-center">
    <h5 class="card-title ">La page {{url}} n'existe pas</h5>
    <img class="card-img-top" src="{{ asset('img/404.jpeg') }}" alt="404 image ">
    <br>
    <a class="btn btn-primary topmarge" href="/">Retour a l'accueil</a>
  </div>
</div>
{% endblock %}

