{% extends 'base.html.twig' %}
{% block stylesheets %}
     <link href="{{ asset('css/connexion.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Connexion{% endblock %}
{% block content %}
    <div class="card2 card border-0 px-4 py-5">
        <form method="post" action="/connexion">
            <div class="row px-3"> 
                <label class="mb-1">
                    <h6 class="mb-0 text-sm">Login</h6>
                </label> 
                <input class="mb-4" type="text" name="login" placeholder="Enter your login"> 
            </div>
            <div class="row px-3"> 
                <label class="mb-1">
                    <h6 class="mb-0 text-sm">Password</h6>
                </label> 
                <input type="password" name="password" placeholder="Enter password"> 
            </div>
            <div class="row px-3 mb-4">
                <div class="custom-control custom-checkbox custom-control-inline"> 
                    <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> 
                    <label for="chk1" class="custom-control-label text-sm">Remember me</label> 
                </div> 
                <a href="forgotPassword" class="ml-auto mb-0 text-sm">Forgot Password?</a>
            </div>
            <div class="row mb-3 px-3"> 
                <button type="submit" class="btn btn-blue text-center">Login</button> 
            </div>
            <div class="row mb-4 px-3"> 
                <small class="font-weight-bold">Don't have an account? <a class="text-danger " href="/register">Register</a></small> 
            </div>
        </form>
    </div>
</div>
{% endblock %}

