{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}


{% block title %}Accueil{% endblock %}
{% block content %}
<h1>Bienvenue 
{% if user.login is defined %}
    {{user.login}}
{% endif %}
</h1>
{% endblock %}